.card-container {
  border-radius: 12px;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
    transition: opacity 1s;
    width: 100%;

    &.visible {
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
    }
  }

  &--clickable {
    cursor: pointer;
  }
}
