.card-container {
  border-radius: 12px;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
    transition: visibility .2s;
    width: 100%;

    &.visible {
      visibility: visible;
    }

    &.hidden {
      visibility: hidden;
    }
  }

  &--clickable {
    cursor: pointer;
  }
}
