.video-library-page {
  .lists-container {
    padding: 40px 0;
    width: 100%;

    .row-container {
      padding-bottom: 40px;

      .row-header {
        padding: 0 65px 10px;
      }
    }
  }

  .embed-player-container {
    display: flex;
    height: 580px;
    justify-content: center;
    padding: 40px 25px;
    width: 100%;

    @media screen and (max-width: $mobile-breakpoint) {
      height: 230px;
      padding: 0;
    }
  }
}
