.video-details-page {
  margin: auto;
  max-width: 1300px;
  padding: 40px 100px 0;

  .video-details-content {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 500px minmax(0, 1.75fr);

    .video-details {
      &__actions {
        display: flex;
        gap: 15px;
        justify-content: right;
      }

      &__share-actions {
        display: flex;
        justify-content: right;
      }

      &__column {
        display: grid;
        grid-gap: 30px;
      }

      &__right-column {
        display: grid;
        grid-template-rows: 35px fit-content(100%) 1fr;
      }

      &__text {
        line-height: 1.4rem;
        padding-bottom: 20px;
      }
    }

    .video-details__text--flex {
      display: flex;
      gap: 30px;
    }
  }

  .eluvio-player__video {
    border-radius: 12px;
  }
}

.seasons__dropdown {
  padding: 20px 0;
}
